<div class="form-field">
  <label for="{{name}}">{{label}}</label>
  <input
    type="{{#if type}}{{type}}{{else}}text{{/if}}"
    name="{{name}}"
    id="{{name}}"
    value="{{value}}"
    required
  />
</div>
